DCU/
Test/telegaToken.inc
Install/AndroidManifest.template.xml
Test/Android/
telegaToken.inc
Source/__history/
*.dcu
*.stat
*.local
examples/TelegaPingPong/__history/
__history/
Source/__recovery/
examples/PluginWhoIs/__recovery/
*.identcache
examples/PluginCalculator/__recovery/
